.listOfDropDown {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
    .planetDropDown {
        width: 300px;
        margin: 1rem;
    }
}

